# Composer
/vendor/
/phpmyadmin/

# Environment variables
.env
.env.local
.env.testing
dev.bat
.bat

# Logs
/storage/logs/*
*.log

# Cache / temp
/cache/
/tmp/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# PHPUnit
/phpunit.result.cache